
# Files to be ignored by git.
# Any file not ignored will be noticed, and reported as "untracked"
# until it is added to the repository or added to this ignore file.

release
bin-*/
obj-*/
.vscode

# vim swap files
*.swp
*.swo

# Temp output of unit tests
a.*
tmp.*
*.diffs
*.ppu
*.o
*.dmp
